body{
  background-color: #041C32;
  font-family: 'Montserrat', sans-serif;

}
a:visited{
  color: #F0FF6D;
}

.openMenu{
  display: none;
}
.closeMenu{
  display:none;
}
.hamburgerMenu{
  display: none;
}

.App {
  text-align: center;
  position: relative;
  padding:0;
}

.navContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 150px;
  padding: 20px;


}

.nav-items{
  color: white;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  display:flex;
  gap: 20px;
}

.close{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 20px;
  width: 100%;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 20px;
  width: 100%;

  
}
.logo{
  color: #F0FF6D;
  margin: 0;
}
a{
  color:white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
a:hover{
  color: #F0FF6D;
  font-weight: bold;
}

.headerContainer{
  margin-top: 100px;
  text-align: start;
}
.helloText{
  color:#F0FF6D ; 
  font: 14px; 
  }
.headerContainer h3 {
  color: white;
  font-size: 80px;
  text-align: start;

}
.headerContainer h3:nth-child(4){
  font-weight:bold;
}
.headerContainer h3:nth-child(2){
  opacity: 0.5;
}
.headerContainer h3:nth-child(3){
  opacity: 0.5;
}
.sideContainer{
  margin-top: 100px;
}
.sideContainer h4{
  margin-top: 20px;
  color: #F0FF6D;

}
.iconsContainer a{
  cursor: pointer;
}
.iconsContainer{
  margin-top: 80px;
width: 100%;
height: 100px;
display: flex;
justify-content: center;
gap: 100px;
}
.sideContainer{
  padding: 0px 20px;
}
img{
  width: 30px;
  height: 30px;

}
.headerText{
  color: #F0FF6D;
  
}
.aboutContainer p{
  margin-top: 40px;
  color: white;
  line-height: 40px;
  text-align: start;
  font-weight: bold;

}
hr{
  background-color: white;
  width: 400px;
  margin: 100px auto;
}
.aboutContainer{
  margin-top: 100px;
}
.skillsContainer{
  margin-top: 100px;
}
.listContainer{
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 200px;
  margin-top: 80px;
}
li{
  margin-top: 20px;
  text-align: start;


}
li::marker{
  color: #F0FF6D;
}

form{

  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px auto;

}
.projectContainer img{
  width: 100%;
  height: 100%;
}
.projectContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects-list{
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.card{
  position: relative;
  min-height: 450px;
  width: 350px;
  transition: 0.3s;

}
.card-title{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-bottom{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.card-body .btn{
  position: absolute;
  margin: auto;
  width: 75%;
  bottom: 0;
  left: 25px;
  right: 0;
  margin: 20px;
}

.card-title p{
  margin-top: 20px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-title h4{
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
.sendBtn{
  background-color: #F0FF6D;
  color: #041C32;
  font-weight: bold;
  width: 100%;
}
.resumeBtn{
  margin-top: 40px;
  width: 200px;
  background-color: #F0FF6D;
  color: #041C32;
  font-weight: bold;
  border: none;

}
.resumeBtn:hover{
  background-color: #F0FF6D;
  color: #041C32;
}
.row{
  margin-top: 20px;
}
.footerContainer{
  background-color: #F0FF6D;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
footer{
  color:#041C32;
  font-weight: light;
}
span{
  opacity: 0.5;
  color: white;
}
.listHeader{
  font-size: 20px;
  font-weight: bold;
}
.projectBtn{
  background-color: #041C32;
  color: white;
}
.projectBtn:hover{
  color: white;
}



@media screen and (max-width: 1162px) {
  .App{
  overflow-x:hidden;
  }
  .openMenu{
    display: inline-block;
    margin: 20px;
  }
  .closeMenu{
    display: inline-block;
    margin: 20px;
  }

  .hamburgerMenu{
    display: inline-block;
  }

  a:visited{
    color: #041C32;
  }
  
  li{
    margin-top: 20px;
    text-align: center;
    list-style-type: none;
    width: 75%;
  }
  li::marker{
    color: #F0FF6D;
  }

  .nav{
    background-color: #F0FF6D;
    align-items: center;
    width: 100%;
    display: inline-block;

  }
  .close{
   display: none;

  }
  a{
    color: #041C32;
    font-weight: bold;
  }
  .navContainer{
    padding: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column-reverse;
  }
  .nav-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:0px;
  }
  .logo{
    display: none;
  }
  hr{
    margin: auto;
    width: 50%;
  }

.leftSkillsContainer ul{
  padding:0px;

  }
  .rightSkillsContainer ul{
    padding:0px;
  
    }

  .headerContainer{
    text-align: center;
    padding: 0px 20px;
    font: 20px;
  }
  .headerContainer h3 {
    color: white;
    font-size: 50px;
    text-align: center;
  
  }
  .aboutContainer p{
    text-align: center;
  }

  .listContainer{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    margin-top: 80px;
  }
  .projects-list{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  hr{
    margin: 50px auto;

  }
  .contactContainer{
    margin-top: 100px;
  }
  .sideContainer{
    padding: 0 10;
  }
}
